# Sequential Recommender System based on Hierarchical Attention Network (SHAN)

Datasets:
1. TMall
2. Gowalla

In [1]:
import gzip
import pandas as pd
import torch
import datetime
from tqdm import tqdm
import numpy as np

tqdm.pandas()

DATASET_LOC = "./Datasets/"
GOWALLA = DATASET_LOC + 'Gowalla/'
TMALL = DATASET_LOC + 'Tmall/'
AMAZON = DATASET_LOC + 'Amazon book dataset/'
DEVICE = torch.device("cuda" if torch.cuda.is_available() else "cpu")

In [2]:
df = pd.read_excel('jester.xlsx')

In [3]:
df

,1,99,99.1,99.2,99.3,99.4,99.5,99.6,99.7,99.8,...,99.147,99.148,99.149,99.150,99.151,99.152,99.153,99.154,99.155,99.156
0,1,99,99,99,99,99,99,99.0,99.0,99,...,99.00,99.00,99.00,99.00,99.00,99.0,99.00,99.00,99.00,99.00
1,4,99,99,99,99,99,99,99.0,99.0,99,...,99.00,99.00,99.00,99.00,99.00,99.0,99.00,99.00,99.00,99.00
2,47,99,99,99,99,99,99,99.0,99.0,99,...,99.00,99.00,5.61,-4.51,0.00,0.0,99.00,0.00,5.93,4.19
3,13,99,99,99,99,99,99,99.0,99.0,99,...,99.00,99.00,99.00,99.00,99.00,0.0,99.00,99.00,99.00,0.00
4,33,99,99,99,99,99,99,99.0,99.0,99,...,99.00,3.19,99.00,0.00,3.41,99.0,-2.32,99.00,0.00,2.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7693,27,99,99,99,99,99,99,99.0,99.0,99,...,0.00,99.00,0.00,0.00,0.00,99.0,0.00,0.00,0.00,99.00
7694,1,99,99,99,99,99,99,99.0,99.0,99,...,99.00,99.00,99.00,99.00,99.00,99.0,99.00,99.00,99.00,99.00
7695,26,99,99,99,99,99,99,99.0,99.0,99,...,99.00,8.63,99.00,6.76,0.00,3.5,6.26,99.00,-2.66,0.65
7696,64,99,99,99,99,99,99,99.0,99.0,99,...,2.03,99.00,2.05,2.05,0.73,0.0,2.97,0.57,0.00,0.00
7697,2,99,99,99,99,99,99,99.0,99.0,99,...,99.00,99.00,99.00,99.00,99.00,99.0,99.00,99.00,99.00,99.00